html, body {
    height: 100%;
}

/* 导航*/
a {
    display: block;
    position: relative;
    z-index: 2;
}

/* 视差插件*/
.m-parallax {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1;
    display: none;
}
.m-parallax li {
    width: 100px;
    height: 100px;
    pointer-events: none;
    font-size: 0;
    overflow: hidden;
}
.m-parallax li.i-1 {
    background: url(../images/sprites.png) 0 0 no-repeat;
}
.m-parallax li.i-2 {
    background: url(../images/sprites.png) 0 -102px no-repeat;
}
.m-parallax li.i-3 {
    background: url(../images/sprites.png) 0 -204px no-repeat;
}
.m-parallax li.i-4 {
    background: url(../images/sprites.png) 0 -306px no-repeat;
}
.m-parallax li.i-5 {
    background: url(../images/sprites.png) 0 -408px no-repeat;
}
.m-parallax li.i-6 {
    background: url(../images/sprites.png) 0 -510px no-repeat;
}
.m-parallax li.i-7 {
    background: url(../images/sprites.png) 0 -612px no-repeat;
}
.m-parallax li.i-8 {
    background: url(../images/sprites.png) 0 -714px no-repeat;
}
.m-parallax li.i-9 {
    background: url(../images/sprites.png) 0 -816px no-repeat;
}

/* canvas插件*/
canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}