.wrap {
    margin: 0 auto;
    position: relative;
}
/* 主首页*/
.index_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/home/bg.jpg) center center no-repeat;
    overflow: hidden;
}
.index_shadow {
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: relative;
}
.index_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13rem;
    margin-left: -13rem;
    width: 26rem;
    height: 26rem;
    border: 1px dotted #fff;
    border-radius: 50%;
}
.index_text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5rem;
    margin-left: -12.5rem;
    width: 25rem;
    height: 10rem;
}
.index_text h1 {
    color: #eddfc9;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 10px;
}
.index_hr {
    text-align: center;
    color: #fff;
    font-size: 1.28rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 auto;
}
.index_text a,
.index_text span {
    text-align: center;
    line-height: 1rem;
    height: 1rem;
    display: block;
}
.index_text a {
    font-size: .5rem;
    color: #eddfc9;
}
.index_text a em {
    display: inline-block;
    width: 1em;
    visibility: hidden;
}
.index_text a i {
    opacity: 0;
    transition: .5s;
}
.index_text a:hover i {
    opacity: 1;
}
.index_text span {
    font-size: .38rem;
    color: #fff;
}
/* /主首页*/

/* 鸟类首页*/
.index_bird_1 {
    height: 16.41rem;
    position: relative;
    z-index: 1;
}
.index_bird_1 .wrap {
    height: 100%;
    background: url(../images/index_bird/bg_1.jpg) center center no-repeat;
    background-size: cover;
}
.index_bird_1 .bird_title {
    width: 530px;
    color: #fff;
    text-align: center;
    height: 140px;
    padding: 50px 0 0 100px;
}
.index_bird_1 .bird_title:after {
    content: "";
    display: table;
    clear: both;
}
.index_bird_1 .bird_title h2 {
    float: left;
    width: 240px;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 5px;
}
.index_bird_1 .bird_title .title_bar {
    float: left;
    width: 70px;
    font-size: 70px;
    line-height: 70px;
    margin: 0 -25px;
}
.index_bird_1 .bird_title h1 {
    float: left;
    width: 140px;
    font-size: 50px;
    line-height: 70px;
}
.index_bird_2 {
    height: 19.23rem;
}
.index_bird_2 .wrap {
    height: 100%;
    background: url(../images/index_bird/bg_2.jpg) #efefef 100% 100% no-repeat;
    background-size: 30.6rem;
}
.index_bird_2 .bird_title {
    position: absolute;
    top: 50%;
    left: 5.5rem;
    margin-top: -175px;
    width: 520px;
    height: 350px;
}
.index_bird_2 .bird_title h3 {
    font-size: 33px;
    color: #615b4e;
    line-height: 110px;
    height: 110px;
}
.index_bird_2 .bird_title p {
    color: #615b4e;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 35px;
}
.index_bird_2 .bird_title a {
    font-size: 18px;
    color: #1b1b1b;
    line-height: 40px;
    height: 40px;
    display: block;
}
.index_bird_3 {
    height: 13.2rem;
    margin-top: 2px;
}
.index_bird_3 .wrap {
    height: 100%;
}
.index_bird_3 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.index_bird_3 .wrap > div {
    height: 100%;
    width: 33.333333%;
    float: left;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.index_bird_3 .wrap > div.piece_1 {
    background-image: url(../images/index_bird/bg_3.jpg);
}
.index_bird_3 .wrap > div.piece_2 {
    background-image: url(../images/index_bird/bg_4.jpg);
}
.index_bird_3 .wrap > div.piece_3 {
    background-image: url(../images/index_bird/bg_5.jpg);
}
.index_bird_3 .bird_title {
    position: absolute;
    bottom: .77rem;
    left: 1.28rem;
    height: 2.8rem;
    width: 4.6rem;
}
.index_bird_3 .bird_title h4 {
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 1rem;
    color: #fff;
}
.index_bird_3 .bird_title a {
    height: 1rem;
    line-height: 1rem;
    font-size: .6rem;
    color: #fff;
    display: block;
}
.index_bird_4 {
    height: 9.92rem;
    margin-top: 2px;
}
.index_bird_4 .wrap {
    height: 100%;
    padding-bottom: 5px;
    background-color: #f4f4f4;
}
.index_bird_4 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.index_bird_4 .wrap > div {
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.index_bird_4 .wrap > div.piece_1 {
    float: left;
    width: 55.3%;
    background-image: url(../images/index_bird/bg_6.jpg);
}
.index_bird_4 .wrap > div.piece_2 {
    float: right;
    width: 44.4%;
    background-image: url(../images/index_bird/bg_7.jpg);
}
.index_bird_4 .bird_title {
    position: absolute;
    top: 50%;
    left: 75%;
    margin-top: -1.2rem;
    height: 2.4rem;
    width: 3.3rem;
}
.index_bird_4 .bird_title h4 {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #36322a;
}
.index_bird_4 .bird_title a {
    height: .9rem;
    line-height: .9rem;
    font-size: .6rem;
    color: #36322a;
    display: block;
}
.index_bird_5 {
    height: 9.41rem;
}
.index_bird_5 .wrap {
    height: 100%;
    background-color: #f4f4f4;
}
.index_bird_5 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.index_bird_5 .wrap > div {
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: 5% 100%;
    background-repeat: no-repeat;
    background-color: #fff;
}
.index_bird_5 .wrap > div.piece_1 {
    width: 44.7%;
    float: left;
    background-image: url(../images/index_bird/bg_8.jpg);
}
.index_bird_5 .wrap > div.piece_2 {
    width: 55%;
    float: right;
    background-image: url(../images/index_bird/bg_9.jpg);
}
.index_bird_5 .bird_title {
    position: absolute;
    top: 25%;
    left: 75%;
    height: 2.3rem;
    width: 3.33rem;
}
.index_bird_5 .bird_title h4 {
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .9rem;
    color: #36322a;
}
.index_bird_5 .bird_title a {
    height: .9rem;
    line-height: .9rem;
    font-size: .6rem;
    color: #36322a;
    display: block;
}
.bird_bar {
    text-align: center;
    height: 2.7rem;
    line-height: 2.7rem;
    background-color: #f4f4f4;
}
.bird_bar > div {
    display: inline-block;
}
.bird_bar > div:after {
    content: "";
    display: table;
    clear: both;
}
.bird_bar > div > a {
    float: left;
    padding: 0 5px;
    font-size: 1rem;
    color: #202121;
    cursor: pointer;
}
.bird_bar > div > a:hover {
    color: #bd1527
}
/*/鸟类首页*/

/* 搜索框*/
.search_box {
    position: absolute;
    width: 510px;
    height: 382px;
    left: 50%;
    top: 50%;
    margin-left: -255px;
    margin-top: -26px;
}
.search_content {
    width: 510px;
    height: 52px;
    padding: 3px 5px;
    background: rgba(255, 255, 255, .5);
    border-radius: 26px;
    position: relative;
}
.search_content form {
    width: 440px;
    height: 46px;
    padding: 5px 20px;
    background: rgba(255, 255, 255, .8);
    border-radius: 23px;
}
.search_content form input {
    width: 400px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #707070;
    background: none;
}
.search_content .search_ico {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    color: #fff;
    opacity: .8;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}
.search_suggest {
    width: 400px;
    background: rgba(255, 255, 255, .8);
    margin-left: 25px;
    display: none;
}
.search_suggest a {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #707070;
    font-size: 15px;
}
.search_suggest a:hover {
    background: rgba(255, 255, 255, 1);
}
/*/搜索框*/
/* footer*/
footer {
    background-color: #202121;
    height: 2.5rem;
    padding: .75rem 0;
    min-width: 980px;
}
footer .wrap {
    font-size: 14px;
    height: 1rem;
    line-height: 1rem;
}
footer .wrap:after {
    content: "";
    display: table;
    clear: both;
}
footer .wrap > p {
    float: left;
    width: 24rem;
    color: #555;
    text-align: center;
}
footer .wrap > nav {
    float: right;
    width: 20rem;
}
footer .wrap > nav:after {
    content: "";
    display: table;
    clear: both;
}
footer .wrap > nav a {
    float: left;
    width: 3rem;
    text-align: center;
    color: #555;
}
footer .wrap > nav a + a {
    border-left: 1px solid #333;
}
/*/footer*/

/* 难辨鸟种首页*/
.index_complex_1 {
    height: 23.71rem;
    position: relative;
    z-index: 1;
}
.index_complex_1 .wrap {
    height: 100%;
    position: relative;
}
.index_complex_1 .bird_title {
    position: absolute;
    top: 70px;
    left: 10%;
    width: 530px;
    color: #fff;
    text-align: center;
    height: 70px;
}
.index_complex_1 .bird_title:after {
    content: "";
    display: table;
    clear: both;
}
.index_complex_1 .bird_title h2 {
    float: left;
    width: 240px;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 5px;
}
.index_complex_1 .bird_title .title_bar {
    float: left;
    width: 70px;
    font-size: 70px;
    line-height: 70px;
    margin: 0 -25px;
}
.index_complex_1 .bird_title h1 {
    float: left;
    width: 220px;
    font-size: 50px;
    line-height: 70px;
}
.complex_swipe {
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.complex_swipe > div {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.complex_swipe > div > div {
    height: 100%;
    float: left;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.complex_swipe > div > div.piece_1 {
    background-image: url(../images/index_complex/bg_1_1.jpg);
}
.complex_swipe > div > div.piece_2 {
    background-image: url(../images/index_complex/bg_1_2.jpg);
}
.complex_swipe > div > div.piece_3 {
    background-image: url(../images/index_complex/bg_1_3.jpg);
}
.complex_swipe > div > div.piece_4 {
    background-image: url(../images/index_complex/bg_1_4.jpg);
}
.complex_swipe > div > div.piece_5 {
    background-image: url(../images/index_complex/bg_1_5.jpg);
}
.index_complex_2 {
    height: 6rem;
}
.index_complex_2 .wrap {
    height: 100%;
    background-color: #efefef;
}
.index_complex_2 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.index_complex_2 .wrap > div {
    height: 100%;
    position: relative;
}
.index_complex_2 .wrap > div.piece_1 {
    float: left;
    width: 33%;
}
.index_complex_2 .wrap > div.piece_2 {
    float: right;
    width: 67%;
}
.complex_title {
    color: #615b4e;
}
.complex_title:after {
    content: "";
    display: table;
    clear: both;
}
.complex_title_l {
    float: left;
    line-height: 2.54rem;
    height: 2.54rem;
    width: 3.33rem;
    font-size: 2.23rem;
    font-style: italic;
}
.complex_title_r {
    float: left;
    width: 5rem;
    height: 2.54rem;
}
.complex_title_r > div {
    font-size: .85rem;
    line-height: 1.54rem;
    height: 1.54rem;
}
.complex_title_r > h3 {
    font-size: .54rem;
    line-height: 1rem;
    height: 1rem;
}
.index_complex_2 .complex_title {
    position: absolute;
    top: 50%;
    left: 2.3rem;
    margin-top: -1.27rem;
    width: 8.33rem;
    height: 2.54rem;
}
.complex_p {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.9rem;
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    border-left: 1px solid #4e4b45;
    font-size: .5rem;
    text-align: center;
}
.complex_p:after {
    content: "";
    display: table;
    clear: both;
}
.complex_p_l {
    float: left;
    width: 80%;
    color: #615b4e;
}
.complex_p_r {
    float: right;
    width: 20%;
    color: #615b4e;
}
.index_complex_3 {
    height: 13.17rem;
}
.index_complex_3 .wrap {
    height: 100%;
}
.index_complex_3 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.index_complex_3 .wrap > div {
    width: 33.333333%;
    height: 100%;
    float: left;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.index_complex_3 .wrap > div.piece_1 {
    background-image: url(../images/index_complex/bg_2.jpg);
}
.index_complex_3 .wrap > div.piece_2 {
    background-image: url(../images/index_complex/bg_3.jpg);
}
.index_complex_3 .wrap > div.piece_3 {
    background-image: url(../images/index_complex/bg_4.jpg);
}
.index_complex_4 {
    height: 20rem;
}
.index_complex_4 .wrap {
    height: 100%;
    background: url(../images/index_complex/bg_5.jpg) #efefef 100% 100% no-repeat;
    background-size: 30.6rem;
}
.index_complex_4 .complex_title {
    position: absolute;
    top: 50%;
    left: 3.5rem;
    margin-top: -6rem;
    width: 14rem;
    height: 12rem;
}
.complex_title_r_2 {
    float: right;
}
.index_complex_4 .complex_title_r_2 {
    width: 10.7rem;
}
.complex_title_r_2 p {
    line-height: .89rem;
    color: #615b4e;
    margin: .77rem 0;
    font-size: .46rem;
}
.complex_title_r_2 a {
    color: #1b1b1b;
    font-size: .46rem;
    line-height: .77rem;
    height: .77rem;
    display: block;
}
.index_complex_5 {
    height: 18.71rem;
}
.index_complex_5 .wrap {
    height: 100%;
    background: url(../images/index_complex/bg_6.jpg) #efefef 10% center no-repeat;
    background-size: 20.1rem;
}
.index_complex_5 .complex_title {
    position: absolute;
    top: 50%;
    margin-top: -8rem;
    right: 6.5rem;
    width: 16rem;
    height: 16rem;
}
.index_complex_5 .complex_title_r_2 {
    width: 12.56rem;
}
.index_complex_6 {
    height: 20.5rem;
}
.index_complex_6 .wrap {
    height: 100%;
    background: url(../images/index_complex/bg_7.jpg) #efefef 80% center no-repeat;
    background-size: 25.8rem;
}
.index_complex_6 .complex_title {
    position: absolute;
    top: 50%;
    margin-top: -5.2rem;
    left: 3.5rem;
    width: 13.4rem;
    height: 10.4rem;
}
.index_complex_6 .complex_title_r_2 {
    width: 10rem;
}
/*/难辨鸟种首页*/

/* 难辨鸟种详情页*/
.detail_complex_1 {
    height: 6rem;
}
.detail_complex_1 .wrap {
    height: 100%;
    background-color: #efefef;
}
.detail_complex_1 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.detail_complex_1 .wrap > div {
    height: 100%;
    position: relative;
}
.detail_complex_1 .wrap > div.piece_1 {
    float: left;
    width: 33%;
}
.detail_complex_1 .wrap > div.piece_2 {
    float: right;
    width: 67%;
}
.detail_complex_1 .complex_title {
    position: absolute;
    top: 50%;
    left: 3.15rem;
    margin-top: -1.28rem;
    width: 8rem;
    height: 2.56rem;
}
.complex_title_l_2 {
    float: left;
    line-height: 2.56rem;
    height: 2.56rem;
    width: 3em;
    font-size: .77rem;
    text-align: center;
}
.complex_title_l_2 a {
    color: #615b4e;
    cursor: pointer;
}
.detail_complex_2 {
    height: 26rem;
}
.detail_complex_2 .wrap {
    height: 100%;
    background-color: #dad9d6;
    overflow: hidden;
}
.detail_complex_2 .wrap:after {
    content: "";
    display: table;
    clear: both;
}
.detail_complex_2 .wrap > div {
    height: 100%;
    width: 33.333333%;
    float: left;
}
.detail_complex_2 .wrap > div a {
    display: block;
    height: 13rem;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detail_complex_2 .wrap > div.piece_1 a {
    background-image: url(../images/index_complex/bg_2.jpg);
}
.detail_complex_2 .wrap > div.piece_2 a {
    background-image: url(../images/index_complex/bg_3.jpg);
}
.detail_complex_2 .wrap > div.piece_3 a {
    background-image: url(../images/index_complex/bg_4.jpg);
}
.detail_complex_2 .wrap > div a .iconfont {
    color: #fff;
    font-size: 1.28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    opacity: .5;
}
.detail_complex_2 .wrap > div a:hover .iconfont {
    opacity: .7;
}
.detail_text {
    height: 13rem;
    padding-top: 2rem;
    background-color: #fff;
}
.detail_text > div {
    height: 100%;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
}
.detail_text .iconfont {
    color: #615b4e;
    font-size: 1.15rem;
    height: 2rem;
    line-height: 2rem;
}
.detail_text h5 {
    font-size: .64rem;
    color: #615b4e;
    line-height: 2rem;
    height: 2rem;
}
.detail_text p {
    font-size: .46rem;
    color: #766f5f;
    line-height: 1rem;
    margin-top: 1rem;
}
.detail_dialog_bg {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.detail_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9.5rem;
    margin-left: -15.5rem;
    width: 31rem;
    height: 19rem;
    overflow: hidden;
}
.detail_dialog h5 {
    text-align: center;
    color: #d6d6d6;
    font-size: .77rem;
    line-height: 1.5rem;
    height: 1.5rem;
}
.detail_hr {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    height: 2.3rem;
    line-height: 2.3rem;
    margin-bottom: .7rem;
}
.detail_dialog_show {
    height: 14.5rem;
}
.detail_dialog_show:after {
    content: "";
    display: table;
    clear: both;
}
.detail_dialog_show > div {
    float: left;
    height: 100%;
    width: 33.333333%;
}
.detail_dialog_show > div div {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.detail_dialog_show > div.piece_1 div {
    background-image: url(../images/index_complex/bg_2.jpg);
    background-position: 95% 15%;
}
.detail_dialog_show > div.piece_2 div {
    background-image: url(../images/index_complex/bg_3.jpg);
    background-position: 95% 50%;
}
.detail_dialog_show > div.piece_3 div {
    background-image: url(../images/index_complex/bg_4.jpg);
    background-position: 95% 25%;
}
.detail_dialog_show > div h6 {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: .7rem;
    color: #d6d6d6;
}
.detail_dialog_show > div p {
    width: 6.5rem;
    margin: 0 auto;
    line-height: .8rem;
    font-size: .46rem;
    color: #d6d6d6;
}
.detail_dialog_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: #d1c5b2;
    cursor: pointer;
}
.detail_dialog_close:hover {
    color: #9e9588;
}
/*/难辨鸟种详情页*/

/* 即将上线*/
.coming_content .piece_1 {
    background: url(../images/coming_soon/bg_1.jpg) #5d6b6e 20% center no-repeat;
    background-size: 14.4rem;
}
.coming_content .piece_2 {
    background: url(../images/coming_soon/bg_2.jpg) #858688 80% center no-repeat;
    background-size: 20.2rem;
}
.coming_content .piece_3 {
    background: url(../images/coming_soon/bg_3.jpg) #3d444c 25% center no-repeat;
    background-size: 9.58rem;
}
.coming_content .piece_4 {
    background: url(../images/coming_soon/bg_4.jpg) #ccc 95% center no-repeat;
    background-size: 26.1rem;
}
.coming_content .piece_5 {
    background: url(../images/coming_soon/bg_5.jpg) #4e615f 25% center no-repeat;
    background-size: 15.05rem;
}
.coming_content .piece_1 .coming_title {
    right: 8rem;
}
.coming_content .piece_2 .coming_title {
    left: 7rem;
}
.coming_content .piece_3 .coming_title {
    right: 8rem;
}
.coming_content .piece_4 .coming_title {
    left: 6.5rem;
    color: #3f3f3f;
}
.coming_content .piece_5 .coming_title {
    right: 6rem;
}
.coming_title {
    position: absolute;
    top: 50%;
    margin-top: -5.5rem;
    height: 11rem;
    width: 14.35rem;
    color: #fff;
}
.coming_title h6 {
    line-height: 2.05rem;
    height: 2.05rem;
    font-size: 1rem;
}
.coming_title div {
    font-size: .61rem;
    line-height: 1rem;
    height: 1rem;
    margin-bottom: 1.28rem;
}
.coming_title p {
    font-size: .61rem;
    line-height: .92rem;
}
/*/即将上线*/

/* 媒体查询*/
@media (max-width: 1439px) {

}
@media (min-width: 1440px) and (max-width: 1919px) {

}
@media (min-width: 1920px) {
    .index_bird_1 .wrap,
    .index_bird_2 .wrap,
    .index_bird_3 .wrap,
    .index_bird_4 .wrap,
    .index_bird_5 .wrap,
    .index_complex_1 .wrap,
    .index_complex_2 .wrap,
    .index_complex_3 .wrap,
    .index_complex_4 .wrap,
    .index_complex_5 .wrap,
    .index_complex_6 .wrap,
    .detail_complex_1 .wrap,
    .detail_complex_2 .wrap {
        width: 1920px;
    }
}
/*/媒体查询*/