@charset "UTF-8";

@mixin inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
@mixin left {
    float: left;
    _display: inline;
}
@mixin right {
    float: right;
    _display: inline;
}
@mixin clearfix {
    *zoom: 1;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.m-side-nav {
    @include clearfix;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 1;
    width: 64px;
}
.m-side-nav-mini {
    @include right;
    width: 38px;

    li {
        width: 38px;
        height: 38px;
        margin-bottom: 10px;

        a {
            display: block;
            *cursor: pointer;

            dl {
                width: 38px;
                height: 38px;
            }
            dt {
                width: 38px;
                height: 38px;
                background: transparent;
            }
            dd {
                font-size: 12px;
                color: #fff;
                text-align: center;
                padding: 4px 0;
                height: 30px;
                line-height: 15px;
                display: none;
            }
            &.piece_1 {

                dt {
                    background: url(http://placehold.it/38/f00) no-repeat;
                }
                dd {
                    background-color: #f9b57e;
                }
            }
            &.piece_2 {

                dt {
                    background: url(http://placehold.it/38/f0f) no-repeat;
                }
                dd {
                    background-color: #44b3f8;
                }
            }
            &.piece_3 {

                dt {
                    background: url(http://placehold.it/38/00f) no-repeat;
                }
                dd {
                    background-color: #44b3f8;
                }
            }
            &.piece_4 {

                dt {
                    background: url(http://placehold.it/38/0f0) no-repeat;
                }
                dd {
                    background-color: #f96d6c;
                }
            }
        }
        .piece_ad {
            display: block;
            background-color: transparent;
            position: relative;
            text-align: center;

            img {
                @include inline-block;
                max-width: none;
            }
        }
        a.piece_ad {
            *cursor: pointer;
        }
    }
}
.m-side-nav-normal {
    @include right;
    width: 64px;

    li {
        width: 64px;
        height: 58px;
        margin-bottom: 10px;

        a {
            display: block;
            padding: 6px 0 5px 0;
            border: 1px solid #ddd;
            background-color: #fff;
            *cursor: pointer;

            dt {
                width: 27px;
                height: 27px;
                background: transparent;
                margin: 0 auto;
            }
            dd {
                height: 18px;
                line-height: 18px;
                font-size: 12px;
                color: #333;
                text-align: center;
                display: block;
            }
            &:hover {
                text-decoration: none;

                dd {
                    color: #fff;
                }
            }
            &.piece_1 {

                dt {
                    background: url(http://placehold.it/27/f00) no-repeat;
                }
                &:hover {
                    border-color: #f9b57e;
                    background-color: #f9b57e;

                    dt {
                        background: url(http://placehold.it/27/f00ccc) no-repeat;
                    }
                }
            }
            &.piece_2 {

                dt {
                    background: url(http://placehold.it/27/f0f) no-repeat;
                }
                &:hover {
                    border-color: #44b3f8;
                    background-color: #44b3f8;

                    dt {
                        background: url(http://placehold.it/27/f0fccc) no-repeat;
                    }
                }
            }
            &.piece_3 {

                dt {
                    background: url(http://placehold.it/27/00f) no-repeat;
                }
                &:hover {
                    border-color: #44b3f8;
                    background-color: #44b3f8;

                    dt {
                        background: url(http://placehold.it/27/00fccc) no-repeat;
                    }
                }
            }
            &.piece_4 {

                dt {
                    background: url(http://placehold.it/27/0f0) no-repeat;
                }
                &:hover {
                    border-color: #f96d6c;
                    background-color: #f96d6c;

                    dt {
                        background: url(http://placehold.it/27/0f0ccc) no-repeat;
                    }
                }
            }
        }
        .piece_ad {
            display: block;
            padding: 0;
            border: 0;
            background-color: transparent;
            position: relative;
            text-align: center;

            img {
                @include inline-block;
                max-width: none;
            }
        }
        a.piece_ad {
            *cursor: pointer;
        }
    }
}