<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/ico" href="../../favicon.ico">
    <title>单页</title>
    <link href="../../css/cssReset.css" type="text/css" rel="stylesheet">
    <link href="css/jquery.fullpage.min.css" type="text/css" rel="stylesheet"><!-- 使用slide才必须加此css-->
    <style>
        .loading {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .8);
            color: #fff;
            display: none;
        }
    </style>
</head>
<body>

<div id="j-fullpage">
    <div class="section" data-anchor="loading">
        ajax-loading
    </div>
</div>

<div class="loading" id="j-loading">
    loading...
</div>

<script id="j-tpl-section" type="text/html">
    <%for(var i = 0; i< sectionArr.length; i++) {%>
    <div class="section" data-anchor="<%= sectionArr[i].id%>">
        <%for(var j = 0; j< sectionArr[i].slide.length; j++) {%>
        <div class="slide">
            <%= sectionArr[i].slide[j].text%>
        </div>
        <%}%>
    </div>
    <%}%>
</script>


<!-- 测试数据-->
<script type="text/javascript" src="../../js/mock-min.js"></script>
<script>
    Mock.setup({timeout: '200-2000'});

    Mock.mock(new RegExp('testUrl'), {
        'code': 200,
        'next|10': '',
        'result|1-3': [{
            'id|+1': 1,
            'slide|1-3': [{
                'text': '@CWORD(1,30)'
            }]
        }]
    });
</script>
<!--/测试数据-->

<!--<script type="text/javascript" src="js/jquery.min.1.7.2.js"></script>-->
<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/jquery.fullpage.min.js"></script>
<script type="text/javascript" src="js/baiduTemplate.js"></script>
<script>
    function isTouch() {
        return navigator.userAgent.match(/(iPhone|iPod|iPad|Android|playbook|silk|BlackBerry|BB10|Windows Phone|Tizen|Bada|webOS|IEMobile|Opera Mini)/) || (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0) || (navigator.maxTouchPoints));
    }

    function isLoading(boolean) {
        var $loading = $('#j-loading');

        if (boolean) {
            $loading.show();
            if (typeof $.fn.fullpage.setAllowScrolling === 'function' && typeof $.fn.fullpage.setKeyboardScrolling === 'function') {
                $.fn.fullpage.setAllowScrolling(false);
                $.fn.fullpage.setKeyboardScrolling(false);
            }

        } else {
            $loading.hide();
            if (typeof $.fn.fullpage.setAllowScrolling === 'function' && typeof $.fn.fullpage.setKeyboardScrolling === 'function') {
                $.fn.fullpage.setAllowScrolling(true);
                $.fn.fullpage.setKeyboardScrolling(true);
            }
        }
    }

    function ajaxLoad(para) {
        var myself = arguments.callee;

        isLoading(true);

        $.ajax({
            url: 'testUrl',
            dataType: 'json',
            data: {
                para: para
            }
        }).done(function (data) {
            console.log(data);

            $.fn.fullpage.destroy('all');
            $('[data-anchor=loading]').before(baidu.template('j-tpl-section', {sectionArr: data.result}));
            if (isTouch()) {
                window.history.replaceState(undefined, undefined, '#');
            } else {
                window.location.replace('#');
            }

            $('#j-fullpage').fullpage({
                navigation: true,
                slidesNavigation: true,

                animateAnchor: false,
                recordHistory: false,
                afterLoad: function (anchorLink, index) {
                    console.log(anchorLink, index, this);

                    if (anchorLink === 'loading') {
                        myself(data.next);
                    }
                }
            });
            $.fn.fullpage.silentMoveTo(data.result[0].id);
        }).fail(function () {
            console.log('网络错误');
        }).always(function () {
            isLoading(false);
        })
    }


    $(function () {
        isLoading(true);

        $.ajax({
            url: 'testUrl',
            dataType: 'json',
            data: {
                para: window.location.hash
            }
        }).done(function (data) {
            console.log(data);

            $('[data-anchor=loading]').before(baidu.template('j-tpl-section', {sectionArr: data.result}));

            if (isTouch()) {
                window.history.replaceState(undefined, undefined, '#');
            } else {
                window.location.replace('#');
            }

            $('#j-fullpage').fullpage({
                navigation: true,
                slidesNavigation: true,

                animateAnchor: false,
                recordHistory: false,
                afterLoad: function (anchorLink, index) {
                    console.log(anchorLink, index, this);

                    if (anchorLink === 'loading') {
                        ajaxLoad(data.next);
                    }
                }
            });
            /*$.fn.fullpage.silentMoveTo(1);*/
        }).fail(function () {
            console.log('网络错误');
        }).always(function () {
            isLoading(false);
        });
    });
</script>
<!--/测试-->
</body>
</html>