<meta charset="utf-8"/>

<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>/static/activity/路径/web/css/文件.css">

<li class="act15_plugin">
    <a href="javascript:;" class="active_in">展示按钮</a>
    <div class="activein_wp">hover展示内容</div>
    <div class="active_flip" style="display:none;">
        点击展示活动主体
        <a class="active_flip_close hide_title" href="javascript:;" role="button">关闭</a>
        <a class="active_flip_refresh" href="javascript:;" role="button">刷新</a>
        <div class="act15_head room_head">

        </div>
        <div class="active_wraps">
            静态路径：<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>
        </div>
    </div>
</li>
