<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="迅雷直播，直播入口"/>
    <meta name="description" content="迅雷直播，直播入口"/>
    <title>标题</title>
    <% for (var i in htmlWebpackPlugin.options.cdn.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn.css[i] %>">
    <% } %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>/static/activity/路径/web/css/文件.css">
</head>

<body class="act15">
    <% for (var i in htmlWebpackPlugin.options.cdn.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.cdn.js[i] %>"></script>
    <% } %>

    静态路径：<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>

    <script src="<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>/static/activity/路径/web/css/文件.js"></script>
</body>

</html>
