<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="迅雷直播，直播入口"/>
    <meta name="description" content="迅雷直播，直播入口"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>标题</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.constant.MISCBASEPATH %>/static/activity/路径/wap/css/文件.css?version=<%= htmlWebpackPlugin.options.version %><%= 1.0 %>">
</head>

<body class="act15">


</body>

</html>
